<table class="dbs">
    {{ passage_rows | raw }}
    <tr>
        <td class="{{ dir_language1 }} link">
            <a href="{{ url }}">{{ read_more }}</a>&nbsp;&nbsp;&nbsp;
            <img src="{{ qr_code1 }}" width="100px" alt="QR Code 1">
        </td>
        <td class="{{ dir_language2 }} link">
            <a href="{{ url }}">{{ read_more }}</a>&nbsp;&nbsp;
            <img src="{{ qr_code2 }}" width="100px" alt="QR Code 2">
        </td>
    </tr>
</table>
