<div class="dbs">  
    <h1 class="title dbs">Life Principle: {{ title }}</h1>
    <p class="languages dbs">({{ language }} -- {{ language_translation }})</p>

    <h2 class="{{ dir_language1 }} dbs">{{ look_back }} &nbsp;--&nbsp; {{ look_back_translation }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ thankful_and_challenges_question }}<br>{{ thankful_and_challenges_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ god_at_work_question }}<br>{{ god_at_work_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ care_for_others_question }}<br>{{ care_for_others_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ application_followup_question }}<br>{{ application_followup_question_translation }}</li>
    </ol>

    <h2 class="{{ dir_language1 }} dbs">{{ look_up }} &nbsp;--&nbsp; {{ look_up_translation }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ read_passage_aloud_instruction }}<br>{{ read_passage_aloud_instruction_translation }}</li>
    </ol>

    <hr/>
    {{ bible_block | raw }}
    {{ video_block | raw }}
    <hr/>

    <ol class="{{ dir_language1 }} dbs" start="7">
        <li class="{{ dir_language1 }} dbs">{{ retell_passage_instruction }}<br>{{ retell_passage_instruction_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ missed_or_added_check }}<br>{{ missed_or_added_check_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ standout_question }}<br>{{ standout_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ insights_question }}<br>{{ insights_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ topic_sentence }}<br>{{ topic_sentence_translation }}</li>
    </ol>

    <h2 class="{{ dir_language1 }} dbs">{{ look_forward }} &nbsp;--&nbsp; {{ look_forward_translation }}</h2>
    <ol class="{{ dir_language1 }} dbs" start="12">
        <li class="{{ dir_language1 }} dbs">{{ difference_in_life_question }}<br>{{ difference_in_life_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ weekly_application_question }}<br>{{ weekly_application_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ sharing_question }}<br>{{ sharing_question_translation }}</li>
    </ol>

    <hr>
    <p>More outlines like this are available at <a href="https://hereslife.com/principles">hereslife.com/principles</a></p>
    <p>&copy; 2023 Power To Change</p>
</div>
