<div class="dbs {{ dir_language1 }}">  
    <h1 class="title">Life Principle: {{ title }}</h1>
    <p class="languages">({{ language }} -- {{ language_translation }})</p>

    <h2>{{ look_back }} &nbsp;--&nbsp; {{ look_back_translation }}</h2>
    <ol>
        <li>{{ thankful_and_challenges_question }}<br>{{ thankful_and_challenges_question_translation }}</li>
        <li>{{ god_at_work_question }}<br>{{ god_at_work_question_translation }}</li>
        <li>{{ care_for_others_question }}<br>{{ care_for_others_question_translation }}</li>
        <li>{{ application_followup_question }}<br>{{ application_followup_question_translation }}</li>
    </ol>

    <h2>{{ look_up }} &nbsp;--&nbsp; {{ look_up_translation }}</h2>
    <ol>
        <li>{{ read_passage_aloud_instruction }}<br>{{ read_passage_aloud_instruction_translation }}</li>
    </ol>

    <hr/>
    {{ bible_block | raw }}
    {{ video_block | raw }}
    <hr/>

    <ol start="7">
        <li>{{ retell_passage_instruction }}<br>{{ retell_passage_instruction_translation }}</li>
        <li>{{ missed_or_added_check }}<br>{{ missed_or_added_check_translation }}</li>
        <li>{{ standout_question }}<br>{{ standout_question_translation }}</li>
        <li>{{ insights_question }}<br>{{ insights_question_translation }}</li>
        <li>{{ topic_sentence }}<br>{{ topic_sentence_translation }}</li>
    </ol>

    <h2>{{ look_forward }} &nbsp;--&nbsp; {{ look_forward_translation }}</h2>
    <ol start="12">
        <li>{{ difference_in_life_question }}<br>{{ difference_in_life_question_translation }}</li>
        <li>{{ weekly_application_question }}<br>{{ weekly_application_question_translation }}</li>
        <li>{{ sharing_question }}<br>{{ sharing_question_translation }}</li>
    </ol>

    <hr>
    <img style="width:100%" src="https://api.mylanguage.net.au/Resources/images/PowerToChangeLogo.png" alt="Power to Change Logo">
    <p>More outlines like this are available at 
        <a href="https://hereslife.com/principles">hereslife.com/principles</a>
    </p>
    <p>&copy; 2023 Power To Change</p>
</div>
