<div class="dbs">  
    <h1 class="title dbs">{{ title }}</h1>
    <p class="languages dbs">({{ language }} -- {{ language_translation }})</p>
    
    <h2 class="{{ dir_language1 }} dbs">{{ look_back }}&nbsp;--&nbsp;{{ look_back_translation }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ thankful_question }}<br>{{ thankful_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ struggle_question }}<br>{{ struggle_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ practice_question }}<br>{{ practice_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ share_question }}<br>{{ share_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ community_needs_question }}<br>{{ community_needs_question_translation }}</li>
    </ol>

    <h2 class="{{ dir_language1 }} dbs">{{ look_up }}&nbsp;--&nbsp;{{ look_up_translation }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs" value="6">{{ read_passage_instruction }}<br>{{ read_passage_instruction_translation }}</li>
    </ol>
    
    <hr/>
    {{ bible_block | raw }}
    <hr/>

    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs" value="7">{{ retell_instruction }}<br>{{ retell_instruction_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ addition_check }}<br>{{ addition_check_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ whole_story_instruction }}<br>{{ whole_story_instruction_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ about_god_question }}<br>{{ about_god_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ about_people_question }}<br>{{ about_people_question_translation }}</li>
    </ol>

    <h2 class="{{ dir_language1 }} dbs">{{ look_forward }}&nbsp;--&nbsp;{{ look_forward_translation }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs" value="12">{{ behavior_change_question }}<br>{{ behavior_change_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ tell_story_question }}<br>{{ tell_story_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ community_needs_this_week_question }}<br>{{ community_needs_this_week_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ next_meeting_question }}<br>{{ next_meeting_question_translation }}</li>
    </ol>

    <hr>
    <img style="width:100%" src="https://api.mylanguage.net.au/Resources/images/PowerToChangeLogo.png" alt="Power to Change Logo">
    <p>More outlines like this are available at <a href="https://hereslife.com/community">hereslife.com/community</a></p>
    <p>&copy; 2023 Power To Change</p>
</div>
