<div class="dbs {{ dir_language1 }}">
    <h1 class="title">{{ Title }}</h1>
    <p class="languages">({{ language1 }} -- {{ language2 }})</p>

    <h2>{{ Look_Back }}&nbsp;--&nbsp;{{ Look_Back_alt }}</h2>
    <ol>
        <li>{{ ThankfulQuestion }}<br>{{ ThankfulQuestion_alt }}</li>
        <li>{{ StruggleQuestion }}<br>{{ StruggleQuestion_alt }}</li>
        <li>{{ GroupProgressQuestion }}<br>{{ GroupProgressQuestion_alt }}</li>
        <li>{{ PraisePrayerQuestion }}<br>{{ PraisePrayerQuestion_alt }}</li>
        <li>{{ PracticeQuestion }}<br>{{ PracticeQuestion_alt }}</li>
        <li>{{ ShareExperienceQuestion }}<br>{{ ShareExperienceQuestion_alt }}</li>
        <li>{{ CommunityNeedsQuestion }}<br>{{ CommunityNeedsQuestion_alt }}</li>
    </ol>

    <h2>{{ Look_Up }}&nbsp;--&nbsp;{{ Look_Up_alt }}</h2>
    <ol>
        <li>{{ DiscussionTitleQuestion }}<br>{{ DiscussionTitleQuestion_alt }}</li>
        <li>{{ PassageReadQuestion }}<br>{{ PassageReadQuestion_alt }}</li>
    </ol>
    <hr/>

    {{ Bible_Block | raw }}
    {{ Video_Block | raw }}
    <hr/>

    <ol start="3">
        <li>{{ TellItQuestion }}<br>{{ TellItQuestion_alt }}</li>
        <li>{{ AddOrLeaveOutQuestion }}<br>{{ AddOrLeaveOutQuestion_alt }}</li>
        <li>{{ StoryRecallQuestion }}<br>{{ StoryRecallQuestion_alt }}</li>
        <li>{{ PassageGodQuestion }}<br>{{ PassageGodQuestion_alt }}</li>
        <li>{{ PassagePeopleQuestion }}<br>{{ PassagePeopleQuestion_alt }}</li>
        <li>{{ PassageRelationQuestion }}<br>{{ PassageRelationQuestion_alt }}</li>
    </ol>

    <h2>{{ Look_Forward }}&nbsp;--&nbsp;{{ Look_Forward_alt }}</h2>
    <ol start="12">
        <li>{{ ScriptureApplicationQuestion }}<br>{{ ScriptureApplicationQuestion_alt }}</li>
        <li>{{ GroupLeadershipQuestion }}<br>{{ GroupLeadershipQuestion_alt }}</li>
        <li>{{ WhoTellQuestion }}<br>{{ WhoTellQuestion_alt }}</li>
        <li>{{ CommunityMeetQuestion }}<br>{{ CommunityMeetQuestion_alt }}</li>
        <li>{{ NextMeetingQuestion }}<br>{{ NextMeetingQuestion_alt }}</li>
    </ol>
    <hr>

    <p style="font-family:arial">More outlines like this are available at <a href="https://hereslife.com/leadership">hereslife.com/leadership</a></p>
    <p style="font-family:arial">&copy; 2023 Power To Change</p>
</div>
