<div class="dbs">  
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ about_jesus_question }}<br>{{ about_jesus_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ about_god_question }}<br>{{ about_god_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ about_people_question }}<br>{{ about_people_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ life_difference_question }}<br>{{ life_difference_question_translation }}</li>
        <li class="{{ dir_language1 }} dbs">{{ share_discoveries_question }}<br>{{ share_discoveries_question_translation }}</li>
    </ol>
</div>
