<div class="dbs {{ dir_language1 }}">  
    <ol>
        <li>{{ about_jesus_question }}<br>{{ about_jesus_question_translation }}</li>
        <li>{{ about_god_question }}<br>{{ about_god_question_translation }}</li>
        <li>{{ about_people_question }}<br>{{ about_people_question_translation }}</li>
        <li>{{ life_difference_question }}<br>{{ life_difference_question_translation }}</li>
        <li>{{ share_discoveries_question }}<br>{{ share_discoveries_question_translation }}</li>
    </ol>
</div>
