<div class="dbs {{ dir_language1 }}">  
    <h1 class="title">{{ title }}</h1>
    <p class="languages">({{ language }} -- {{ language_translation }})</p>

    <h2>{{ look_back }} &nbsp;--&nbsp; {{ look_back_translation }}</h2>
    <ol>
        <li>{{ thankful_question }}<br>{{ thankful_question_translation }}</li>
        <li>{{ struggle_question }}<br>{{ struggle_question_translation }}</li>
        <li>{{ practice_question }}<br>{{ practice_question_translation }}</li>
        <li>{{ share_question }}<br>{{ share_question_translation }}</li>
        <li>{{ community_needs_question }}<br>{{ community_needs_question_translation }}</li>
    </ol>

    <h2>{{ look_up }} &nbsp;--&nbsp; {{ look_up_translation }}</h2>
    <ol start="6">
        <li>{{ read_passage_instruction }}<br>{{ read_passage_instruction_translation }}</li>
    </ol>
    
    <hr/>
    {{ bible_block | raw }}
    <hr/>

    <ol start="7">
        <li>{{ retell_instruction }}<br>{{ retell_instruction_translation }}</li>
        <li>{{ addition_check }}<br>{{ addition_check_translation }}</li>
        <li>{{ whole_story_instruction }}<br>{{ whole_story_instruction_translation }}</li>
        <li>{{ about_god_question }}<br>{{ about_god_question_translation }}</li>
        <li>{{ about_people_question }}<br>{{ about_people_question_translation }}</li>
    </ol>

    <h2>{{ look_forward }} &nbsp;--&nbsp; {{ look_forward_translation }}</h2>
    <ol start="12">
        <li>{{ behavior_change_question }}<br>{{ behavior_change_question_translation }}</li>
        <li>{{ tell_story_question }}<br>{{ tell_story_question_translation }}</li>
        <li>{{ community_needs_this_week_question }}<br>{{ community_needs_this_week_question_translation }}</li>
        <li>{{ next_meeting_question }}<br>{{ next_meeting_question_translation }}</li>
    </ol>

    <hr>
    <p>More outlines like this are available at 
        <a href="https://hereslife.com/community">hereslife.com/community</a>
    </p>
    <p>&copy; 2023 Power To Change</p>
</div>
