<div class="dbs {{ dir_language1 }}">  
    <h1 class="title">{{ title }}</h1>

    <h2>{{ look_back }}</h2>
    <ol>
        <li>{{ thankful_question }}</li>
        <li>{{ struggle_help_question }}</li>
        <li>{{ practice_question }}</li>
        <li>{{ share_experience_question }}</li>
        <li>{{ community_needs_question }}</li>
    </ol>

    <h2>{{ look_up }}</h2>
    <ol start="6">
        <li>{{ read_passage_instruction }}</li>
    </ol>

    <hr/>
    <p class="bible_reference">{{ bible_reference }}</p>
    <div class="bible_text">{{ bible_block | raw }}</div>
    <p class="link">
        <a href="{{ url }}">{{ read_more }}</a>
    </p>
    <hr/>

    <ol start="7">
        <li>{{ retell_instruction }}</li>
        <li>{{ addition_check }}</li>
        <li>{{ whole_story_instruction }}</li>
        <li>{{ about_god_question }}</li>
        <li>{{ about_people_question }}</li>
    </ol>

    <h2>{{ look_forward }}</h2>
    <ol start="12">
        <li>{{ behavior_change_question }}</li>
        <li>{{ sharing_story_question }}</li>
        <li>{{ community_help_question }}</li>
        <li>{{ next_meeting_question }}</li>
    </ol>

    <hr>
    <p class="copyright">
        ({{ language }} edition) &copy; 2023 Power To Change
    </p>
</div>
