<div class="dbs {{ dir_language1 }}">  
    <ol>
        <li>{{ about_jesus_question }}</li>
        <li>{{ about_god_question }}</li>
        <li>{{ about_people_question }}</li>
        <li>{{ life_difference_question }}</li>
        <li>{{ share_discoveries_question }}</li>
    </ol>
</div>
