<div class="dbs {{ dir_language1 }}">  
    <h1 class="title">{{ title }}</h1>
    <p class="languages">({{ language }})</p>

    <h2>{{ look_back }}</h2>
    <ol>
        <li>{{ thankful_question }}</li>
        <li>{{ struggle_help_question }}</li>
        <li>{{ practice_question }}</li>
        <li>{{ share_experience_question }}</li>
        <li>{{ community_needs_question }}</li>
    </ol>

    <h2>{{ look_up }}</h2>
    <ol start="6">
        <li>{{ read_passage_instruction }}</li>
    </ol>

    <hr/>
    <p class="bible_reference">{{ bible_reference }}</p>
    <div class="bible_text">{{ bible_block | raw }}</div>
    <p class="link">
        <a href="{{ url }}">{{ read_more }}</a>&nbsp;&nbsp;&nbsp;
        <img src="{{ qr_code1 }}" width="100px" alt="QR Code">
    </p>
    <hr/>

    <ol start="7">
        <li>{{ retell_instruction }}</li>
        <li>{{ addition_check }}</li>
        <li>{{ whole_story_instruction }}</li>
        <li>{{ about_god_question }}</li>
        <li>{{ about_people_question }}</li>
    </ol>

    <h2>{{ look_forward }}</h2>
    <ol start="12">
        <li>{{ behavior_change_question }}</li>
        <li>{{ sharing_story_question }}</li>
        <li>{{ community_help_question }}</li>
        <li>{{ next_meeting_question }}</li>
    </ol>

    <hr>
    <img style="width:100%" src="https://api.mylanguage.net.au/Resources/images/PowerToChangeLogo.png" alt="Power to Change Logo">
    <p>More outlines like this are available at 
        <a href="https://hereslife.com/community">hereslife.com/community</a>
    </p>
    <p>&copy; 2023 Power To Change</p>
</div>
