<div class="dbs">  
    <h1 class="title dbs">{{ title }}</h1>

    <h2 class="{{ dir_language1 }} dbs">{{ look_back }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ thankful_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ struggle_help_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ group_checkin_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ praise_and_pray_instruction }}</li>
        <li class="{{ dir_language1 }} dbs">{{ practice_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ god_conversation_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ community_needs_question }}</li>
    </ol>

    <h2 class="{{ dir_language1 }} dbs">{{ look_up }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ read_title_instruction }}</li>
        <li class="{{ dir_language1 }} dbs">{{ read_passage_instruction }}</li>
    </ol>

    <hr/>
    <p class="bible_reference">{{ bible_reference }}</p>
    <div class="bible_text">{{ bible_block | raw }}</div>
    <p class="{{ dir_language1 }} dbs link">
        <a href="{{ url }}">{{ read_more }}</a>
    </p>
    <hr/>

    <ol class="{{ dir_language1 }} dbs" start="3">
        <li class="{{ dir_language1 }} dbs">{{ retell_instruction }}</li>
        <li class="{{ dir_language1 }} dbs">{{ addition_check }}</li>
        <li class="{{ dir_language1 }} dbs">{{ whole_story_instruction }}</li>
        <li class="{{ dir_language1 }} dbs">{{ about_god_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ about_people_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ title_relation_question }}</li>
    </ol>

    <h2 class="{{ dir_language1 }} dbs">{{ look_forward }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs" value="12">{{ scripture_application_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ group_leadership_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ sharing_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ community_help_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ next_meeting_question }}</li>
    </ol>

    <hr>
    <p class="copyright">
        ({{ language }} edition) &copy; 2023 Power To Change
    </p>
</div>
