<div class="dbs">  
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ about_jesus_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ about_god_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ about_people_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ life_difference_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ share_discoveries_question }}</li>
    </ol>
</div>
