<div class="dbs {{ dir_language1 }}">  
    <h1 class="title">Life Principle: {{ title }}</h1>
    <p class="languages">({{ language }})</p>

    <h2>{{ look_back }}</h2>
    <ol>
        <li>{{ thankful_and_challenges_question }}</li>
        <li>{{ god_at_work_question }}</li>
        <li>{{ care_for_others_question }}</li>
        <li>{{ application_followup_question }}</li>
    </ol>

    <h2>{{ look_up }}</h2>
    <ul>
        <li>{{ read_passage_aloud_instruction }}</li>
    </ul>

    <hr/>
    <p class="bible_reference">{{ bible_reference }}</p>
    <div class="bible_text">{{ bible_block | raw }}</div>
    <p class="link">
        <a href="{{ url }}">{{ read_more }}</a>&nbsp;&nbsp;&nbsp;
        <img src="{{ qr_code1 }}" width="100" alt="QR Code">
    </p>
    {{ video_block | raw }}
    <hr/>

    <ol>
        <li>{{ retell_with_help_instruction }}</li>
        <li>{{ missed_or_added_check }}</li>
        <li>{{ standout_question }}</li>
        <li>{{ insights_about_jesus_god_people_you_question }}</li>
        <li>{{ topic_sentence }}</li>
    </ol>

    <h2>{{ look_forward }}</h2>
    <ol>
        <li>{{ life_difference_question }}</li>
        <li>{{ weekly_application_question }}</li>
        <li>{{ sharing_question }}</li>
    </ol>

    <hr>
    <img style="width:100%" src="https://api.mylanguage.net.au/Resources/images/PowerToChangeLogo.png" alt="Power to Change Logo">
    <p>More outlines like this are available at <a href="https://hereslife.com/principles">hereslife.com/principles</a></p>
    <p>&copy; 2023 Power To Change</p>
</div>
