<div class="dbs {{ dir_language1 }}">  
    <h1 class="title">{{ title }}</h1>
    <p class="languages">({{ language }} -- {{ language_translation }})</p>

    <h2>{{ look_back }}</h2>
    <ol>
        <li>{{ thankful_question }}</li>
        <li>{{ struggle_help_question }}</li>
        <li>{{ group_checkin_question }}</li>
        <li>{{ praise_and_pray_instruction }}</li>
        <li>{{ practice_question }}</li>
        <li>{{ god_conversation_question }}</li>
        <li>{{ community_needs_question }}</li>
    </ol>

    <h2>{{ look_up }}</h2>
    <ol>
        <li>{{ read_title_instruction }}</li>
        <li>{{ read_passage_instruction }}</li>
    </ol>

    <hr/>
    {{ bible_block | raw }}
    {{ video_block | raw }}
    <hr/>

    <ol start="3">
        <li>{{ retell_instruction }}</li>
        <li>{{ addition_check }}</li>
        <li>{{ whole_story_instruction }}</li>
        <li>{{ about_god_question }}</li>
        <li>{{ about_people_question }}</li>
        <li>{{ title_relation_question }}</li>
    </ol>

    <h2>{{ look_forward }}</h2>
    <ol>
        <li value="12">{{ scripture_application_question }}</li>
        <li>{{ group_leadership_question }}</li>
        <li>{{ sharing_question }}</li>
        <li>{{ community_help_question }}</li>
        <li>{{ next_meeting_question }}</li>
    </ol>

    <hr>
    <img style="width:100%" src="https://api.mylanguage.net.au/Resources/images/PowerToChangeLogo.png" alt="Power to Change Logo">
    <p style="font-family:arial">
        More outlines like this are available at
        <a href="https://hereslife.com/leadership">hereslife.com/leadership</a>
    </p>
    <p style="font-family:arial">&copy; 2023 Power To Change</p>
</div>
