<div class="dbs">  
    <h1 class="title dbs">{{ title }}</h1>

    <h2 class="{{ dir_language1 }} dbs">{{ look_back }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ thankful_and_challenges_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ god_at_work_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ care_for_others_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ application_followup_question }}</li>
    </ol>

    <h2 class="{{ dir_language1 }} dbs">{{ look_up }}</h2>
    <ul class="{{ dir_language1 }} dbs">
        <li>{{ read_passage_aloud_instruction }}</li>
    </ul>

    <hr/>
    <p class="bible_reference">{{ bible_reference }}</p>
    <div class="bible_text">{{ bible_block | raw }}</div>
    <p class="{{ dir_language1 }} dbs link">
        <a href="{{ url }}">{{ read_more }}</a>
    </p>
    {{ video_block | raw }}
    <hr/>

    <ol class="{{ dir_language1 }} dbs" start="7">
        <li class="{{ dir_language1 }} dbs">{{ retell_with_help_instruction }}</li>
        <li class="{{ dir_language1 }} dbs">{{ missed_or_added_check }}</li>
        <li class="{{ dir_language1 }} dbs">{{ standout_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ insights_about_jesus_god_people_you_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ topic_sentence }}</li>
    </ol>

    <h2 class="{{ dir_language1 }} dbs">{{ look_forward }}</h2>
    <ol class="{{ dir_language1 }} dbs">
        <li class="{{ dir_language1 }} dbs">{{ life_difference_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ weekly_application_question }}</li>
        <li class="{{ dir_language1 }} dbs">{{ sharing_question }}</li>
    </ol>

    <hr>
    <p class="copyright">
        ({{ language }} edition) &copy; 2023 Power To Change
    </p>
</div>
